<%- include('partials/mainPartials/header') -%>

<main class="container">
    <h2 class="text-center mt-5">About</h2>
    <p class="text-center px-5 mt-5">A web application that allows users to find solutions to problems they may have or learn more about a specific topic.
        Users with logins have the ability to contribute to the site (being able to update or delete their contribution). They can also submit a request to modify outdated information or delete obsolete information.
    </p>
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>