<%- include('partials/mainPartials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-3">
        <p class="text-center px-5 mt-5">
            A resource that helps hotel employess find immediate answers 
            <br>to questions or step-by-step tutorials on specific tasks. If a question or topic hasn't 
            <br>been added, employees can contribute to the resource.
        </p>
        <a href="/login" class="col-3 btn btn-primary mt-5"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary mt-5"> Signup</a>
        <!-- <a href="/about" class="col-3 btn btn-primary"> Learn More</a> -->
    </div>
</main>
    

<%- include('partials/footer') -%>