<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
         
          <div class="mt-5">
            <h2>Add a New Topic</h2>
            <form action="/qa/createqa" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="question">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="answer"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Supporting Files</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
       
        </ul>
        <div class="row justify-content-center mt-5">
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>